body{
    margin: 0;
}
h1{
    display:flex;
    justify-content: center;
    color:white;
    font-family: Bahnschrift;
    font-size: 16px;
    color:#3599ae;
    font-size: 20px;

}
#logged-in-wrapper{
}
#logged-in-bar{
    padding: 20px;
}
#logged-in-content{
    display: flex;
    height: 100%;
}
#form-wrapper{
    justify-content: flex-end;
    display: flex;
}
#form-wrapper >:first-child{
    width: 595px;
    padding: 20px;
    margin: 20px;
    background-color: white;
}
#accident-form{
    width: 100%;
}
#form-content{
    display:flex;
    justify-content: center;
}

#form-header{
    padding:20px;
}

#form-left{
    width: 50%;
    display: flex;
    flex-direction: column;
    font-family: arial;
    font-size: 13px;
    color: gray;
}
#form-right{
    width: 50%;
    display:flex;
    align-items: center;
    font-family: arial;
    font-size: 13px;
    color: gray;
}
#form-footer{
    display: flex;
    justify-content: center;
}
#user-wrapper{
    color:white;
    padding:25px 20px;
}
#profile-picture{
    background-color: blue;
    height: 100px;
    width: 100px;
    border-radius: 100%;
}
#profile-title{
    font-size:25px;

    margin-bottom: 45px
}
#user-details{
    display:flex;
    align-items: center;
}

.form-input{
    border-radius: 5px;
    border: 1px solid gray;
    padding: 10px;
    width: 232px;
    height: 8px;
    color: black;
    margin: 0 0 10px 0;
}

#form-content{
    color:gray;
    font-size:16px;
    font-family:Arial;
}

.form-select{
    border-radius: 5px;
    border: 1px solid gray;
    padding: 0 0 0 5px;
    width: 232px;
    height: 31px;
    color: black;
    margin: 0 0 10px 0;
}
.flex-2-col{
    display: flex;
}
.w30{
    width: 30%;
}
.w50{
    width: 50%;
}
.w70{
    width: 70%;

}

#logged-in-logo{
    padding:10px;
}


.flexContainer1{
    display:flex;
    justify-content: center;

}

img{
    height: 70px;

}

#circle{
    display:flex;
    border-radius: 120px;
    background-color:#0040FF;
    height: 120px;
    width: 120px;
    text-align: center;
    justify-content:flex-end;

}

#accidentForm {
    width: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: gray;
    font-family: Arial;
    font-size: 15px;

}

.profileBtn{
    color: white;
    width: 181px;
    background-color: #73B0BC;
    font-family: Arial;
    border: none;
    padding: 15px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.flexContainer2 {
    display: flex;
    justify-content: flex-end;

}

.newBtn{
    color:white;
    background-color: #2f889a;
    font-family: Helvetica;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 35px 2px;
    cursor: pointer;

}

.formInput{
    border-radius: 5px;
    border: 1px solid gray;
    padding: 10px;
    width: 300px;
    height: 20px;
    color:black;

}

.newColumn {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

@media screen and (max-width: 950px) {

    #logged-in-content {
        display:block;
    }
    #form-wrapper {
        justify-content: center;
        width: 100%;
    }
    #user-wrapper {
        width: 100%;
    }

}