h1{
    display:flex;
    justify-content: center;
    color:white;
    font-family: Bahnschrift;
    font-size: 16px;
    color:#3599ae;

}

.flexContainer1{
    display:flex;
    justify-content: center;

}

img{
    height: 70px;

}

#circle{
    display:flex;
    border-radius: 120px;
    background-color:#0040FF;
    height: 120px;
    width: 120px;
    text-align: center;
    justify-content:flex-end;

}

#accidentForm {
    color:gray();
    font-family: Arial;
    width: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: gray;
    font-family: Arial;
    font-size: 15px;

}
.profileBtn{
    color:white;
    width: 100px;
    background-color: #73B0BC;
    font-family: Arial;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

input {
    width: 50%;
}

.flexContainer2 {
    display: flex;
    justify-content: flex-end;

}

.formBtn{
    color:white;
    background-color: #2f889a;
    font-family: Helvetica;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;

}

.formInput{
    border-radius: 5px;
    border: 1px solid gray;
    padding: 10px;
    width: 300px;
    height: 20px;
    color:black;

}

.newColumn {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

