<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <h1>Välkommen att fylla i din skadeanmälan</h1>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="loggedinStyle.css">
    <title>Acac Skadeformulär</title>
</head>
<body bgcolor="#2f889a">


<div class="flexContainer2">
    <Button id="profileBtn">Min sida</Button>
    <Button id="logBtn">Logga ut</Button>

</div>

<div class="flexcontainer1">
    <form id="accidentForm" th:action="addNewAccident" method="post" th:object="${accident}" enctype="multipart/form-data">
        Registreringsnummer på ditt fordon:<br>
        <input type="text" th:field="*{Regnr}"><br>
        <p th:if="${#fields.hasErrors('Regnr')}" th:errors="*{Regnr}"></p>

        Försäkringsbolag:<br>
        <select th:field="*{Försäkringsbolag}" name="bolag">
            <option th:value="'A'" >Aktsam</option>
            <option th:value="'F'" >Folksam</option>
            <option th:value="'I'" >If</option>
            <option th:value="'L'" >Länsförsäkringar</option>
            <option th:value="'T'" >Trygghansa</option>
            <p th:if="${#fields.hasErrors('Försäkringsbolag')}" th:errors="*{Försäkringsbolag}"></p>

        </select><br>
        Omständighet:<br>
        <select  th:field="*{Omständighet}">
            <option th:value="'F'" >Frontalkrock</option>
            <option th:value="'B'" >Backningsolycka</option>
            <option th:value="'A'" >Avkörning på väg</option>
            <option th:value="'S'" >Sidokrock</option>
            <option th:value="'M'" >Mindre skador</option>

        </select><br>
        Datum för olyckan:
            <input type="date" th:field="*{Skadedag}" id="start" name="trip"
                   value="2018-07-22"

                   min="2018-01-01" max="2018-12-31" /><br>

                   
            <p th:if="${#fields.hasErrors('Skadedag')}" th:errors="*{Skadedag}"></p>




        Skadeplats:<br>
        <input type="text" th:field="*{Skadeplats}"><br>
        <p th:if="${#fields.hasErrors('Skadeplats')}" th:errors="*{Skadeplats}"></p>

        Förarens personnummer:<br>
        <input type="text" th:field="*{DriverPersonalID}"><br>
        <p th:if="${#fields.hasErrors('DriverPersonalID')}" th:errors="*{DriverPersonalID}"></p>

        Förarens förnamn:<br>
        <input type="text" th:field="*{DriverFirstName}"><br>

        Förarens efternamn:<br>
        <input type="text" th:field="*{DriverLastName}"><br>

        Förarens telefonnummer:<br>
        <input type="text" th:field="*{DriverPhoneNumber}"><br>
        <p th:if="${#fields.hasErrors('DriverPhoneNumber')}" th:errors="*{DriverPhoneNumber}"></p>

        Beskriv händelseförloppet:<br>
        <textarea name="message" th:field="*{Händelseförlopp}" rows="10" cols="30">
        </textarea>
        <br>
        <p th:if="${#fields.hasErrors('Händelseförlopp')}" th:errors="*{Händelseförlopp}"></p>
        Skador på er bil:<br>
        <input type="text" th:field="*{SkadorPåBilen}"><br>

        <br>
        Var polisen på plats?
        <input type="checkbox" th:field="*{PolisPåPlats}" name="PolisPåPlats" value="Yes"> Ja<br>
        <p th:if="${#fields.hasErrors('PolisPåPlats')}" th:errors="*{PolisPåPlats}"></p>

        Utandningsprov:
            <select  th:field="*{Utandningsprov}">
                <option th:value="'P'" >Positivt</option>
                <option th:value="'N'" >Negativt</option></select>
        <br>

        Registreringsnummer motpart:<br>
        <input type="text" th:field="*{regnrmotpart}"><br>
        <p th:if="${#fields.hasErrors('regnrmotpart')}" th:errors="*{regnrmotpart}"></p>

        <br>

        File1 to upload: <input type="file" name="file"><br />
        Name1: <input type="text" name="name"><br /> <br />
        File2 to upload: <input type="file" name="file"><br />
        Name2: <input type="text" name="name"><br /> <br />

        <button id="formBtn">Skicka</button>
    </form>
</div>





</body>
</html>