<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="loggedinStyle.css">
    <title>Acac Skadeformulär</title>
</head>
<body bgcolor="#2f889a">

<div id="logged-in-wrapper">
<div id="logged-in-bar">
    <a href="#0"><img src="logolightblue.png" alt="Logo"></a>
</div>

<div id="logged-in-content">

    <!--Formulär-->
    <div class="w70" id="form-wrapper">
        <div>
            <form id="accident-form" th:action="addNewAccident" method="post" th:object="${accident}" enctype="multipart/form-data">
                <div id="form-header">
                    <h1>Skadeanmälan</h1>
                </div>
                <div  id="form-content">
                    <div id="form-left">

                        <input class="form-input"  type="text" th:field="*{Regnr}" placeholder="Registreringsnummer">
                        <span th:if="${#fields.hasErrors('Regnr')}" th:errors="*{Regnr}"></span>

                        <label for="forsakringsbolaginput">Försäkringsbolag:</label>
                        <select class="form-select"  id="forsakringsbolaginput" th:field="*{Försäkringsbolag}" name="bolag">
                            <option th:value="'A'" >Aktsam</option>
                            <option th:value="'F'" >Folksam</option>
                            <option th:value="'I'" >If</option>
                            <option th:value="'L'" >Länsförsäkringar</option>
                            <option th:value="'T'" >Trygghansa</option>
                            <span th:if="${#fields.hasErrors('Försäkringsbolag')}" th:errors="*{Försäkringsbolag}"></span>
                        </select>


                        <label for="omstandighet">Omständighet:</label>
                        <select class="form-select"  id="omstandighet" th:field="*{Omständighet}">
                            <option th:value="'F'" >Frontalkrock</option>
                            <option th:value="'B'" >Backningsolycka</option>
                            <option th:value="'A'" >Avkörning på väg</option>
                            <option th:value="'S'" >Sidokrock</option>
                            <option th:value="'M'" >Mindre skador</option>

                        </select>
                        Datum för olyckan:
                        <input class="form-input"  type="date" th:field="*{Skadedag}" id="start" name="trip"
                               value="2018-07-22"

                               min="2018-01-01" max="2018-12-31" />
                        <span th:if="${#fields.hasErrors('Skadedag')}" th:errors="*{Skadedag}"></span>

                        <input class="form-input" type="text" th:field="*{Skadeplats}" placeholder="Skadeplats">
                        <span th:if="${#fields.hasErrors('Skadeplats')}" th:errors="*{Skadeplats}"></span>



                        <input class="form-input"  type="text" th:field="*{DriverPersonalID}" placeholder="Förarens personnummer">
                        <span th:if="${#fields.hasErrors('DriverPersonalID')}" th:errors="*{DriverPersonalID}"></span>


                        <input class="form-input" type="text" th:field="*{DriverFirstName}" placeholder="Förarens förnamn">


                        <input class="form-input" type="text" th:field="*{DriverLastName}" placeholder="Förarens efternamn">


                        <input class="form-input" type="text" th:field="*{DriverPhoneNumber}" placeholder="Förarens telefonnummer">
                        <span th:if="${#fields.hasErrors('DriverPhoneNumber')}" th:errors="*{DriverPhoneNumber}"></span>

                        <label for="handelseforlopp">Beskriv händelseförloppet:</label>
                        <textarea id="handelseforlopp" class="form-input" name="message" th:field="*{Händelseförlopp}" rows="10" cols="30">
                        </textarea>

                        <span th:if="${#fields.hasErrors('Händelseförlopp')}" th:errors="*{Händelseförlopp}"></span>

                        <label for="skadorinput">Skador på er bil:</label>
                        <input class="form-input" id="skadorinput" type="text" th:field="*{SkadorPåBilen}">

                        <div>
                            <p>Var polisen på plats?</p>
                            <input type="checkbox" th:field="*{PolisPåPlats}" name="PolisPåPlats" value="Yes">Ja
                        </div>
                        <div th:if="${#fields.hasErrors('PolisPåPlats')}" th:errors="*{PolisPåPlats}"></div>


                        <label for="utandningsprov">Utandningsprov:</label>
                        <select class="form-select" id="utandningsprov"   th:field="*{Utandningsprov}" placeholder="Utandningsprov">
                            <option th:value="''" ></option>
                            <option th:value="'P'" >Positivt</option>
                            <option th:value="'N'" >Negativt</option></select>

                        <input class="form-input" type="text" th:field="*{regnrmotpart}" placeholder="Registreringsnummer motpart">
                        <p th:if="${#fields.hasErrors('regnrmotpart')}" th:errors="*{regnrmotpart}"></p>


                    </div>

                    <div id="form-right">
                        <div>
                            File1 to upload: <input type="file" name="file">
                            Name1: <input type="text" name="name"><br />
                            File2 to upload: <input type="file" name="file">
                            Name2: <input type="text" name="name"><br />
                        </div>


                    </div>
                </div>
                <div id="form-footer">
                    <button class="formBtn">Skicka</button>
                </div>








            </form>
        </div>
    </div>


    <!--Användare-->
    <div class="w30" id="user-wrapper">
        <div id="profile-title">Din profil</div>
        <div class="flex-2-col">
            <div id="user-details" class="w50">
                <div>
                    <div>Matilda Stekpannas</div>
                    <div>KorstaHuset 2B 85636</div>
                    <div>stekeln2000@hotmail.com</div>
                </div>
            </div>
            <div class="w50">
                <div id="profile-picture"></div>
            </div>
        </div>
        <div>
            <div><span>Senaste anmälningsdag:</span>  <span>asd</span> </div>
                <div>  <span>Anmälda händelser:</span>  <span>2</span> </div>
        </div>
        <div>
            <div>

                <Button class="profileBtn">Ändra min information</Button>
            </div>
            <div>
                <Button class="profileBtn">Logga ut</Button>
            </div>
        </div>

    </div>

</div>
</body>
</html>